@use '../../../scss/Foundation/mixin';

.u-margin__right__16px{
    margin-right:max(calc(16/1440*100vw),16px);
    @include mixin.mq(tb){
        margin-right:max(calc(16/1023*100vw),16px);
    }
    @include mixin.mq(sp){
        margin-right:max(calc(14/375*100vw),14px);
    }
}