@use '../Foundation/mixin';

.l-header {
    display: flex;
    padding-left:calc(20/1440*100vw);
    // justify-content: space-between;
    //headerを固定する場合
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index:100;
    justify-content: space-between;
    background: #fff;
    height: max(calc(80/1440*100vw),80px);
    &.is-open{
        background: #EEECE4;
    }
    @include mixin.mq(tb){
        padding-left:0;
    }
}