.p-article--new-release__heading2{
    font-family: tsukushioldmincho,ms mincho,ヒラギノ明朝 pro w3,hiragino mincho pro,serif;
    color:rgb(116,52,52);
    font-size:4.5rem;
    font-weight:600;
    text-align: center;
    padding-top:4rem;
    letter-spacing: .3rem;
}