.p-article--about-us__img__left-red-tree{
    background:url(../images/red-tree.png) no-repeat;
    background-size: contain;
    min-width: 6.8rem;
    min-height: 6.8rem;
    //家より後ろにするため
    position:absolute;
    z-index:9;
    left:13%;
    bottom:18%;
}