@use '../../../scss/Foundation/mixin';

.p-article__gallery__modern__img{
    height:calc(250/1440*100vw);
    background: url("../images/gallery__modern.png") no-repeat;
    background-size: 160%;
    height: 100%;
    background-position-x: 50%;
    background-position-y: 15%;
    margin-top:3rem;
    @include mixin.mq(tb){
    height:calc(150/1023*100vw);
    }
    @include mixin.mq(sp){
        width:calc(60/375*100vw);
        height:calc(60/375*100vw);  
    }
}