@use '../../../scss/Foundation/mixin';

.p-article__about-us__img__green-cloud{
    background:url(../images/green-cloud.png) no-repeat;
    background-size: contain;
    width:calc(70/1440*100vw);
    height: calc(70/1440*100vw);
    position: absolute;
    top:calc(50/1440*100vw);
    left:calc(30/1440*100vw);
    @include mixin.mq(tb){
        height:calc(90/1023*100vw);
        width:calc(90/1023*100vw);
        top:calc(60/1023*100vw);
        left:calc(140/1023*100vw);
    }
}