@use '../../Foundation/mixin';

.p-article__reason{
    display: flex;
    background:url(../images/background-reason.png) no-repeat;
    background-size: cover;
    @include mixin.mq(tb){
        flex-direction: column;
    }
}