@use '../../../scss/Foundation/mixin';

.p-article__work__full-order__heading3{
font-size:calc(40/1440*100vw);
font-weight: 600;
font-family: tsukushioldmincho,ms mincho,ヒラギノ明朝 pro w3,hiragino mincho pro,serif;
color:rgb(51,51,51);
@include mixin.mq(sp){
    font-size:calc(16/375*100vw);
    text-align: center;
}
}