.p-article--quality-support__cat{
    background: url(../images/quality-support__cat.png) no-repeat;
    width:10rem;
    height:10rem;
    background-size: contain;
    position:absolute;
    top:0%;
    left:20%;
}