@use '../../Foundation/mixin';

.p-article__low-contents--sketch{
    object-fit: contain;
    position: absolute;
    width: calc(700/1440*100vw);
    right: calc(-200/1440*100vw);
    top: calc(20/1440*100vw);
    //ピンク背景より下に
    z-index: -10;
    @include mixin.mq(tb){
        width:calc(450/1023*100vw);
        overflow: hidden;
        right:0;
        top:calc(200/1023*100vw);
    }
    @include mixin.mq(sp){
        width:calc(150/375*100vw);
        top:calc(-40/375*100vw);
        right:calc(0/375*100vw);
    }
}