@use '../../../scss/Foundation/mixin';

.p-article--work__renovation__text__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50%;
    text-align: left;
    position: relative;
    left:15%;
    order:-1;
    @include mixin.mq(tb){
        width:45%;
        left:0;
        margin-left:5%;
    }
    @include mixin.mq(sp){
        width:100%;
        order:1;
        left:0;
    }
}