.p-article--about-us__img__text{
    //font-family:mr de haviland,cursive;
    position:absolute;
    //font-size:1.3rem;
    //color:#f200A2;
    left:37%;
    top:20%;
    transform: rotateZ(-5deg);
    background:url(../images/Jam_Dream_House.png) no-repeat;
    background-size: contain;
    width:10rem;
    height:5rem;
}