@use '../../../scss/Foundation/mixin';

.p-article__line-up__text{
    font-family:tsukushioldmincho,ms mincho,ヒラギノ明朝 pro w3,hiragino mincho pro,serif;
    font-weight: 600;
    font-size:calc(16/1440*100vw);
    @include mixin.mq(tb){
        font-size:calc(16/1023*100vw);
    }
    @include mixin.mq(sp){
        font-size:calc(14/1023*100vw);
    }
}