@use '../../Foundation/mixin';

.p-article--commitment{
    padding-bottom:5rem;
    @include mixin.mq(tb){
        position:relative;
        overflow: hidden;
    }
    @include mixin.mq(sp){
        padding-top:calc(50/375*100vw);
    }
}