@use '../../Foundation/mixin';

.p-article--about-us__mirror__wrapper{
    width:0;
    height: 19rem;
    overflow:hidden;
    transition:1s linear;
    //mirrorの場所と合わせるため
    position: absolute;
    left:3%;
    top:28%;
    @include mixin.mq(tb){
        width:14rem;
        height:16rem;
        left:22%;
        top:82%;
    }
}
.p-article--about-us__mirror__wrapper.inview-js{
    width: 17rem;
}