@use '../../Foundation/mixin';

.p-article--commitment__low__middle__cat{
    background:url(../images/snack-house-cats.png) no-repeat;
    background-size: contain;
    width: 15rem;
    height: 12rem;
    position: absolute;
    left: 50%;
    top: 15%;
    @include mixin.mq(tb){
        left:calc(180/1023*100vw);
        top:calc(1100/1023*100vw);
    }
    @include mixin.mq(sp){
        left:20%;
        top:70%;
    }
}