@use '../../Foundation/mixin';

.p-article--charm__heading2{
    font-family:'メイリオ',meiryo,'ヒラギノ角ゴ pro w3','hiragino kaku gothic pro',sans-serif;
    color:rgb(116,52,52);
    font-size:1.8rem;
    margin-top:5rem;
    //font-weight: 600;
    @include mixin.mq(tb){
        font-size:2.2rem;
    }
}