@use '../../Foundation/mixin';

.p-article__charm__text{
    color:rgb(51,51,51);
    font-size:max(calc(16/1440*100vw),16px);
    font-family: 'tsukushimarugothic', sans-serif,'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ;
    margin-bottom: calc(24/1440*100vw);
    @include mixin.mq(tb){
        font-size:calc(16/1023*100vw);
    }
    @include mixin.mq(sp){
        font-size:calc(14/375*100vw);
    }
}