@use  '../../Foundation/mixin';

.p-article__charm__wood-frame__left{
    background:url(../images/wood-frame1.png) no-repeat;
    background-size:contain;
    width:calc(150/1440*100vw);
    height: calc(120/1440*100vw);
    position: absolute;
    top:calc(60/1440*100vw);
    left:calc(90/1440*100vw);
    transform: rotate(-5deg);
    transition: .5s;
    @include mixin.mq(tb){
        display: none;
    }
}
.p-article__charm__wood-frame__left.inview-js{
    margin-left:calc(20/1440*100vw);
}