@use '../../../scss/Foundation/mixin';

.p-article--gallery__modern__img{
    height:24rem;
    background: url("../images/gallery__modern.png") no-repeat;
    background-size: 160%;
    height: 100%;
    background-position-x: 50%;
    background-position-y: 15%;
    margin-top:3rem;
    @include mixin.mq(sp){
        object-fit: contain;
        width: 7.5rem;
        height: 7.5rem;
        margin-top:0;
    }
}