@use '../../Foundation/extend';
@use '../../../scss/Foundation/mixin';

.p-article__gallery__natural{
    @extend %p-article__gallery__country;
    width:calc(300/1440*100vw);
    margin-left:calc(50/1440*100vw);
    @include mixin.mq(sp){
        margin-left: calc(10/375*100vw);
        width: calc(80/375*100vw);
    }
}