@use '../../Foundation/mixin';

.p-article__charm__cat-jam{
    background:url(../images/cat-jam.png) no-repeat;
    background-size:contain;
    width:calc(120/1440*100vw);
    height: calc(150/1440*100vw);
    position: absolute;
    bottom:calc(60/1440*100vw);
    right:calc(10/1440*100vw);
    transition: .8s;
    @include mixin.mq(tb){
        display: none;
    }
}
.p-article__charm__cat-jam.inview-js{
    margin-right:calc(20/1440*100vw);
}