@use '../../Foundation/mixin';

.p-article__commitment__middle-contents__foreword{
    font-family:'tsukushimarugothic', sans-serif,'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ;
    color:rgb(85,85,85);
    font-size:calc(max(calc(16/1440*100vw),16px));
    font-weight: 600;
    margin-top:calc(50/1440*100vw);
    @include mixin.mq(tb){
        
    }
}