@use '../../Foundation/mixin';

.p-article--commitment__middle__contents__photo{
    width: 18%;
    object-fit: contain;
    transform: rotate(5deg);
    position:absolute;
    bottom:30%;
    right:0%;
    @include mixin.mq(tb){
        top:calc(1200/1023*100vw);
        right:calc(350/1023*100vw);
    }
    @include mixin.mq(sp){
        right:calc(10/375*100vw);
        top:calc(500/375*100vw);
    }
}