@use '../../../scss/Foundation/mixin';

.p-article--book-contents__heading{
    font-family:tsukushioldmincho,ms mincho,ヒラギノ明朝 pro w3,hiragino mincho pro,serif;
    font-size: 1.1rem;
    font-weight: 600;
    white-space: nowrap;
    letter-spacing: -.15em;
    margin-left:.1rem;
    @include mixin.mq(sp){
        white-space: normal;
        width:40%;
    }
    &::before{
        content:'';
        background:#D61043;
        border-radius: 50%;
        border-top: solid 4px #fff;
        border-right: solid 4px #fff;
        width: 24px;
        height: 24px;
        transform: rotate(45deg);
    }
}