@use '../../../scss/Foundation/mixin';

.p-article--commitment__top__contents{
    width:40%;
    position:relative;
    padding:5rem 0 0;
    @include mixin.mq(sp){
        padding:0;
    }
}