@use '../../../scss/Foundation/mixin';

.p-article__commitment__top-contents{
    position:relative;
    padding:calc(60/1440*100vw) 0 0;
    @include mixin.mq(tb){
        left:calc(30/1023*100vw);
        width:100%;
    }
    @include mixin.mq(sp){
        left:0;
        padding:0;
    }
}