@use '../../../scss/Foundation/mixin';

.p-article__book__wrapper{
    background: url(../images/book-background.jpg);
    height: calc(600/1440*100vw);
    background-size:contain;
    display: flex;
    align-items: center;
    //justify-content: center;
    position: relative;
    z-index: 0;
    @include mixin.mq(tb){
        height:calc(600/1023*100vw);
    }
    @include mixin.mq(sp){
        height:calc(720/375*100vw);
    }
}