@use '../../../scss/Foundation/mixin';

.p-article__book__foot-prints__right{
    background: url(../images/foot-prints.webp) no-repeat;
    background-size:contain;
    position:absolute;
    top:calc(380/1440*100vw);
    left:calc(820/1440*100vw);
    width:calc(340/1440*100vw);
    height:calc(150/1440*100vw);
    transform:rotate(-80deg);
    @include mixin.mq(sp){
        display: none;
    }
    @include mixin.mq(tb){
        left:calc(450/1023*100vw);
    }
}