@use '../../Foundation/mixin';

.p-article__charm{
    background:url(../images/pick-up--background.png) no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center; 
    text-align: center;
    flex-direction: column;
    padding:calc(80/1440*100vw) 0;
    @include mixin.mq(tb){
        background-color: #fff;
        background-image: none;
        padding:calc(80/1023*100vw) 0;
    }
    @include mixin.mq(sp){
        padding:calc(40/375*100vw) 0;
    }
}