@use '../../../scss/Foundation/mixin';
.p-article--about-us__section__heading3{
    //color:#D61043;
    //font-family:reklamescriptw00-medium,cursive;
    //font-size: 3rem;
    position: relative;
    //margin-top: 7rem;
    background:url(../images/about_us.png) no-repeat;
    background-size: contain;
    width:15rem;
    height:5rem;
    margin-top:8rem;
    @include mixin.mq(sp){
        margin-top:4rem;
        margin-left:1.6rem;
    }
    &::after{
        content:'';
        position:absolute;
        width:18rem;
        max-width:28rem;
        background-color: #D61043;
        height:.01rem;
        top:50%;
        left:100%;
        margin-left:1rem;
    }
}