@use '../../../scss/Foundation/mixin';

.p-article--book__foot-prints__left{
    background-size: cover;
    max-width:38rem;
    min-width:38rem;
    min-height:16rem;
    max-height:16rem;
    transform:rotate(90deg);
    order:0;
    position:relative;
    left:14%;
    bottom:18%;
    margin-right:2%;
    background: url(../images/foot-prints.webp) no-repeat;
    //position: absolute;
    //left:-7%;
    //top: 20%;
    @include mixin.mq(sp){
        display: none;
    }
}
