@use '../../Foundation/mixin';

.p-article--reason__text{
    font-family:'tsukushimarugothic', sans-serif,'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ;
    color:rgb(85,85,85);
    font-size:1.3rem;
    line-height: 2.5rem;
    @include mixin.mq(tb){
        width:86%;
        margin:0 auto;
        font-size:2rem;
        line-height: 1.8;
        letter-spacing: .2rem;
    }
}