.p-article--quality-support__safety__img__cat{
    background:url(../images/safety-cat.jpg) no-repeat;
    background-size: cover;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    position: absolute;
    transition: .4s ease-in-out;
    bottom:0%;
    //left: -150%;
}