.p-article--about-us__gif__left-cat{
    background: url(../images/left-cat.gif) no-repeat;
    background-size:contain;
    width: 9rem;
    height: 9rem;
    position: absolute;
    bottom: -13%;
    left: 10%;
}