@use '../../Foundation/mixin';

.p-article--charm__img__cat-jam{
    background:url(../images/cat-jam.png) no-repeat;
    background-size:contain;
    width:25rem;
    height: 20rem;
    position: absolute;
    bottom:3%;
    right:1%;
    transition: .8s;
    @include mixin.mq(tb){
        display: none;
    }
}
.p-article--charm__img__cat-jam.inview-js{
    margin-right:2rem;
}