@use '../../Foundation/mixin';

.p-article--feature__contents1__text{
    font-family: 'tsukushimarugothic', sans-serif,'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ;
    color:rgb(85,85,85);
    font-size:calc(16/1440*100vw);
    line-height: 2.2rem;
    order:3;
    @include mixin.mq(tb){
        width:86%;
        margin:0 auto;
        font-size:calc(20/1023*100vw);
        line-height: 1.8;
        letter-spacing: .2rem;
    }
    @include mixin.mq(sp){
        width:86%;
        margin:0 auto;
        font-size:calc(14/375*100vw);
        line-height: 1.8;
        letter-spacing: .2rem;
    }
}