@use '../../../scss/Foundation/mixin';

.p-article--commitment__low__contents__container{
    position: relative;
    height: 62rem;
    @include mixin.mq(tb){
        height:calc(300/1023*100vw);
    }
    @include mixin.mq(sp){
        height:calc(360/375*100vw);
    }
}