@use '../../../scss/Foundation/mixin';

.p-article__gallery{
    position:relative;
    background: url(../images/gallery__background-bird.png) no-repeat;
    background-size: 100%;
    margin-bottom:calc(80/1440*100vw);
    margin-top:calc(100/1440*100vw);
    @include mixin.mq(sp){
        background: none;
    }
    //background-position-y: 5rem;
}