@use '../../../scss/Foundation/mixin';

.p-article__philosophy__text__list-item{
    //margin:0 auto 2rem;
    //display: inline-block;
    font-family: 'tsukushimarugothic', sans-serif,'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ;
    color:rgb(138,101,62);
    font-size:max(calc(16/1440*100vw),16px);
    //font-weight: 600;
    line-height: 2;
    @include mixin.mq(tb){
        font-size:max(calc(16/1023*100vw),16px);
    }
    @include mixin.mq(sp){
        font-size: max(calc(14/375*100vw),14px);
    }
}