@use '../../../scss/Foundation/mixin';

.p-article--work__renovation__text__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50%;
    text-align: left;
    position: relative;
    left:15%;
    order:-1;
    @include mixin.mq(sp){
        left:2%;
    }
}