@use '../../../scss/Foundation/mixin';

.p-article__gallery__house__wrapper{
    display: flex;
    justify-content: space-between;
    width:90%;
    margin:2% auto 0;
    @include mixin.mq(sp){
        width:100%;
    }
}