@use '../../../scss/Foundation/mixin';

.p-article__quality-support{
    position:relative;
    padding-bottom:calc(80/1440*100vw);
    @include mixin.mq(sp){
        margin-top:calc(60/375*100vw);
        margin-bottom:calc(60/375*100vw);
    }
}