@use '../../Foundation/mixin';

.p-article--about-us__mug{
    background:url(../images/mug.png) no-repeat;
    background-size:contain;
    width: 12rem;
    height: 14rem;
    position: absolute;
    right:5%;
    top:45%;
    transform: rotate(15deg);
    @include mixin.mq(tb){
        display: none;
    }
}