.p-article--about-us__img__balloon__buttom{
    background:url(../images/balloon__buttom.png) no-repeat;
    background-size:contain;
    min-width: 5rem;
    min-height: 5em;
    position:absolute;
    left:16%;
    top:48%;
}