@use '../../../scss/Foundation/mixin';

.p-article__gallery__button{
    width:calc(280/1440*100vw);
    border-radius: 10rem;
    background: #D61043;
    border: .1rem solid #D61043;
    font-size: max(calc(16/1440*100vw),16px);
    font-weight:600;
    color:#fafafa;
    margin: calc(50/1440*100vw) auto 0;
    padding: calc(5/1440*100vw);
    letter-spacing: .4rem;
    display:block;
    position:relative;
    @include mixin.mq(tb){
        width:calc(250/1023*100vw);
    }
    @include mixin.mq(sp){
        width:calc(200/375*100vw);
        margin-top:calc(10/375*100vw);
    }
    &:before{
        content:'';
        position:absolute;
        right:  calc(60/1440*100vw);
        top: calc(17/1440*100vw);
        width: calc(25/1440*100vw);
        height: .1rem;
        background: #fafafa; 
        @include mixin.mq(pcfull){
            top:calc(19/1440*100vw);
        }
        @include mixin.mq(pc1399){
            top:calc(21/1440*100vw);
            right:calc(40/1440*100vw);
        }
        @include mixin.mq(pc){
            top: calc(22/1440*100vw);
        }
        @include mixin.mq(tb){
            top:calc(18/1023*100vw);
        }
        @include mixin.mq(tb948){
            top:calc(18/1023*100vw);
        }
        @include mixin.mq(tb848){
            top:calc(19/1023*100vw);
        }
        @include mixin.mq(sp){
            top:calc(9/375*100vw);
            right:calc(20/375*100vw);
            width: calc(20/375*100vw);
        }
        @include mixin.mq(sp550){
            top:calc(10/375*100vw);
            right:calc(20/375*100vw);
        }
        @include mixin.mq(sp450){
            top:calc(13/375*100vw);
        }
    }
    &:after{
        content:'';
        position:absolute;
        top:calc(13/1440*100vw);
        right: calc(59/1440*100vw);
        content: '';
        width: calc(9/1440*100vw);
        height: calc(9/1440*100vw);
        border: 0px;
        border-top: solid .1rem #fafafa;
        border-right: solid .1rem #fafafa;
        transform: rotate(45deg);
        @include mixin.mq(pcfull){
            top:calc(15/1440*100vw);
        }
        @include mixin.mq(pc1399){
            top:calc(17/1440*100vw);
            right:calc(39/1440*100vw);
        }
        @include mixin.mq(pc){
            top:calc(18/1440*100vw);
        }
        @include mixin.mq(tb){
            top:calc(16/1023*100vw);
        }
        @include mixin.mq(tb948){
            top:calc(16/1023*100vw);
        }
        @include mixin.mq(tb848){
            top:calc(17/1023*100vw);
        }
        @include mixin.mq(sp){
            top:calc(5/375*100vw);
            right:calc(20/375*100vw);
            width:calc(9/375*100vw);
            height:calc(9/375*100vw);
        }
        @include mixin.mq(sp550){
            top:calc(6/375*100vw);
            right:calc(20/375*100vw);
            width:calc(9/375*100vw);
            height:calc(9/375*100vw);
        }
        @include mixin.mq(sp450){
            top:calc(9/375*100vw);
        }
    &:hover{
        background: #fff;
        color:#D61043;
        transition: .2s;
    }
    &:hover:before{
        background:#D61043;
    }
    &:hover:after{
        border-top: solid .1rem #D61043;
        border-right: solid .1rem #D61043;
    }
    }
}