@use '../../../scss/Foundation/mixin';

.p-article__work__renovation__img{
    object-fit: contain;
    width:calc(720/1440*100vw);
    order:1;
    @include mixin.mq(tb){
        order:0;
        width:calc(720/1440*100vw);
    }
    @include mixin.mq(sp){
        width:100%;
        margin-bottom:calc(30/375*100vw);
    }
}