@use '../../Foundation/mixin';

.p-article__feature__rose-mono{
    background:url(../images/rose-mono.png) no-repeat;
    background-size:contain;
    width:calc(200/1440*100vw);
    height:calc(200/1440*100vw);
    position:absolute;
    top:calc(450/1440*100vw);
    left:0%;
    visibility: hidden;
    transition: 2.5s;
    @include mixin.mq(tb){
        display: none;
    }
}
.p-article__feature__rose-mono.inview-js{
    visibility: visible;
}