@use '../../../scss/Foundation/mixin';

.p-article--quality-support__amenity__img__cat{
    background:url(../images/amenity-cat.jpg) no-repeat;
    background-size: 110%;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    position: absolute;
    transition: .4s ease-in-out;
    bottom: 0%;
    //right: -150%;
    @include mixin.mq(tb){
        width:calc(200/1023*100vw);
        height:calc(200/1023*100vw);
    }
    @include mixin.mq(sp){
        width:calc(200/375*100vw);
        height:calc(200/375*100vw);
    }
}