@use '../../../scss/Foundation/mixin';

.p-article__book__heading-page__character{
    background:url(../images/book-cat.png) no-repeat;
    width:calc(100/1440*100vw);
    height:calc(100/1440*100vw);
    background-size: contain;
    position:absolute;
    top:calc(595/1440*100vw);
    left:calc(1000/1440*100vw);;
    @include mixin.mq(sp){
        display: none;
    }
    @include mixin.mq(tb){
        left:calc(600/1023*100vw);
        top:calc(540/1023*100vw);
    }
}