.p-article--quality-support__safety__figcaption{
    width:50%;
    margin:0 auto;
    text-align: center;
    margin-top:3rem;
    font-size:1.3rem;
    font-weight: 600;
    color:#fffffe;
    background-color:#D61043;
    padding:0 1.5rem;
    font-family: tsukushigothic,ms gothic,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,osaka,sans-serif;
}