@use '../../../scss/Foundation/mixin';

.p-article__work__renovation__wrapper{
    display:flex;
    position:relative;
    margin-top:calc(60/1440*100vw);
    @include mixin.mq(sp){
        flex-direction: column;
    }
}