@use '../../Foundation/mixin';

.p-article--commitment__low__middle__heart{
    background:url(../images/heart.png) no-repeat;
    background-size:contain;
    width:6rem;
    height:6rem;
    position: absolute;
    left: 49%;
    top:11%;
    @include mixin.mq(tb){
        left:calc(160/1023*100vw);
        top:calc(1080/1023*100vw);
        background-size:cover;
        width:calc(30/1023*100vw);
        height:calc(30/1023*100vw);
    }
    @include mixin.mq(sp){
        left:19%;
        top:67%;
        background-size:cover;
        width:3rem;
        height:3rem;
    }
}