.p-article__about-us__img__right-three-tree{
    background:url(../images/three-tree.png) no-repeat;
    background-size: contain;
    width: calc(80/1440*100vw);
    height:calc(80/1440*100vw);
    //家より後ろにするため
    position:absolute;
    z-index:9;
    right: calc(160/1440*100vw);
    bottom: calc(110/1440*100vw);
}