@use '../../../scss/Foundation/mixin';

.p-article__line-up__background{
/*ホバー時黒くする挙動*/
background-color: #000;
width:calc(280/1440*100vw);
height:calc(200/1440*100vw);
overflow: hidden;
position: relative;
z-index:1;
    @include mixin.mq(sp){
        width:calc(350/375*100vw);
    }
}