@use '../../../scss/Foundation/mixin';

.p-article--gallery__rainbow{
    background: url(../images/gallery__rainbow.png) no-repeat;
    width:18rem;
    height:18rem;
    background-size:contain;
    position:absolute;
    right:10%;
    top:10%;
    transform: rotate(10deg);
    @include mixin.mq(sp){
        width:calc(150/375*100vw);
        height: calc(150/375*100vw);
        top:calc(100/375*100vw);
        right:0;
    }
}