@use '../../../scss/Foundation/mixin';

.p-article--new-release__news__wrapper{
    margin:0 auto;
    width: 30%;
    @include mixin.mq(sp){
        width:calc(300/375*100vw);
    }
    @include mixin.mq(tb){
        width:calc(400/1023*100vw);
    }
}