@use '../../../scss/Foundation/mixin';

.p-article__about-us__img__home{
    background:url(../images/home.png) no-repeat;
    background-size: contain;
    //width:100%;
    height:calc(220/1440*100vw);
    //木々の手前
    position: relative;
    top:calc(240/1440*100vw);
    left:calc(20/1440*100vw);
    z-index:10;
    @include mixin.mq(tb){
        height:calc(200/1023*100vw);
    }
}