@use '../../Foundation/mixin';

.p-article--feature__right-cat{
    background:url(../images/right-cat-mono.png) no-repeat;
    background-size:contain;
    width:18rem;
    height:18rem;
    position:absolute;
    top:25%;
    right:-2%;
    visibility: hidden;
    transition: 2.5s;
    @include mixin.mq(tb){
        display: none;
    }
}
.p-article--feature__right-cat.inview-js{
    visibility: visible;
}