@use '../../../scss/Foundation/mixin';

.p-article__work__full-order__button{
    justify-content: center;
    align-items: center;
    width:calc(300/1440*100vw);
    border-radius: 10rem;
    background: #333333;
    border: .1rem solid #333333;
    font-size: 1rem;
    font-weight:600;
    color:#fafafa;
    font-size: max(calc(16/1440*100vw),16px);
    margin: calc(60/1440*100vw) auto 0;
    padding: calc(5/1440*100vw);
    //letter-spacing: .4rem;
    display:block;
    position:relative;
    right:calc(200/1440*100vw);
    @include mixin.mq(tb){
        width:calc(250/1023*100vw);
        left:calc(-100/1023*100vw);
    }
    @include mixin.mq(sp){
        margin-top:calc(25/1440*100vw);
        left:0;
        width:calc(140/375*100vw);
    }
    &:before{
        content:'';
        position:absolute;
        right: calc(50/1440*100vw);
        top:calc(20/1440*100vw);
        width: calc(30/1440*100vw);
        height: .1rem;
        background: #fafafa; 
        @include mixin.mq(tb){
            right:calc(45/1023*100vw);
            top:calc(13/1023*100vw);
        }
    }
    &:after{
        content:'';
        position:absolute;
        top:calc(15/1440*100vw);
        right: 17.5%;
        content: '';
        width: 1rem;
        height: 1rem;
        border: 0px;
        border-top: solid .1rem #fafafa;
        border-right: solid .1rem #fafafa;
        transform: rotate(45deg);
    }
    &:hover{
        background: #fff;
        color:#333333;
        transition: .2s;
    }
    &:hover:before{
        background:#333333;
    }
    &:hover:after{
        border-top: solid .1rem #333333;
        border-right: solid .1rem #333333;
    }
}