@use '../../Foundation/mixin';

.p-article--commitment__low__middle__photo{
    object-fit: contain;
    width:27%;
    position: absolute;
    top:56%;
    right:22%;
    transform:rotate(4deg);
    @include mixin.mq(tb){
        top:calc(900/1023*100vw);
        width:calc(250/1023*100vw);
        top:calc(1050/1023*100vw);
        right:calc(40/1023*100vw);
    }
    @include mixin.mq(sp){
        top:60%;
        right:20%;
        width:27%;
    }
}