@use '../../Foundation/mixin';

.p-article__commitment__bottom-contents__sketch{
    object-fit: contain;
    width: calc(300/1440*100vw);
    position: relative;
    right:calc(-60/1440*100vw);
    z-index:-10;
    bottom: calc(250/1440*100vw);
    @include mixin.mq(tb){
        width:calc(400/1023*100vw);
        position:absolute;
        top:calc(30/1023*100vw);
        left:0;
        object-fit: cover;
    }
    @include mixin.mq(sp){
        width:calc(150/375*100vw);
        top:calc(200/375*100vw);
    }
}