@use '../../Foundation/mixin';

.p-article--feature__jam__illustration{
    background:url(../images/cat-jam-mono.png) no-repeat;
    background-size:contain;
    width:22rem;
    height:22rem;
    position:absolute;
    top:73%;
    left:1%;
    visibility: hidden;
    transition: 2.5s;
    @include mixin.mq(tb){
        display: none;
    }
}
.p-article--feature__jam__illustration.inview-js{
    visibility: visible;
}