@use '../../../scss/Foundation/mixin';

.p-article__work__renovation__text__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:calc(720/1440*100vw);
    text-align: left;
    position: relative;
    left:calc(200/1440*100vw);
    order:-1;
    @include mixin.mq(tb){
        width:calc((511/1023*100vw));
        left:calc(140/1023*100vw);
        //margin-left:calc(50/1023*100vw);
    }
    @include mixin.mq(sp){
        width:100%;
        order:1;
        left:0;
    }
}