@use '../../../scss/Foundation/mixin';

.p-article__new-release__heading2{
    font-family: tsukushioldmincho,ms mincho,ヒラギノ明朝 pro w3,hiragino mincho pro,serif;
    color:rgb(116,52,52);
    font-size: calc(60/1440*100vw);
    font-weight:600;
    text-align: center;
    padding-top:calc(60/1440*100vw);
    letter-spacing: .3rem;
    @include mixin.mq(tb){
        position: relative;
        z-index:1;
        font-size:calc(60/1023*100vw); 
     }
     @include mixin.mq(sp){
        position: relative;
        z-index:1;
        font-size:calc(40/375*100vw);
    }
}