@use '../../Foundation/mixin';

.p-article--reason__button{
    justify-content: center;
        align-items: center;
        width:60%;
        border-radius: 10rem;
        background: #F7004E;
        border: .1rem solid #F7004E;
        font-size: 1rem;
        font-weight:600;
        color:#fafafa;
        margin: 2.5rem auto;
        padding: 1rem .5rem;
        letter-spacing: .4rem;
        display:block;
        position:relative;
        @include mixin.mq(tb){
            padding:1.5rem .5rem;
            font-size:2rem;
        }
        &:before{
            content:'';
            position:absolute;
            right: 14.6%;
            top:50%;
            width: 3rem;
            height: .1rem;
            background: #fafafa;
            @include mixin.mq(tb){
                display: none;
            } 
        }
        &:after{
            content:'';
            position:absolute;
            top:35%;
            right: 14.5%;
            content: '';
            width: 1rem;
            height: 1rem;
            border: 0px;
            border-top: solid .1rem #fafafa;
            border-right: solid .1rem #fafafa;
            transform: rotate(45deg);
            @include mixin.mq(tb){
                display: none;
            }
        }
        &:hover{
            background: #fff;
            color:rgb(85,85,85);
            transition: .2s;
            border: .1rem solid rgb(85,85,85);
        }
        &:hover:before{
            background:rgb(85,85,85);
        }
        &:hover:after{
            border-top: solid .1rem rgb(85,85,85);
            border-right: solid .1rem rgb(85,85,85);
    }
}