@use '../../Foundation/mixin';

.p-article__low-contets--heart{
    background:url(../images/heart.png) no-repeat;
    background-size:contain;
    width:calc(70/1440*100vw);
    height:calc(70/1440*100vw);
    position: absolute;
    left: calc(650/1440*100vw);
    top:calc(100/1440*100vw);
    @include mixin.mq(tb){
        left:calc(160/1023*100vw);
        top:calc(1080/1023*100vw);
        background-size:cover;
        width:calc(30/1023*100vw);
        height:calc(30/1023*100vw);
    }
    @include mixin.mq(sp){
        width: calc(30/375*100vw);
        height: calc(30/375*100vw);
        left: calc(30/375*100vw);
        top:calc(240/375*100vw);
        background-size:cover;
    }
}