.p-article__about-us__img__left-red-tree{
    background:url(../images/red-tree.png) no-repeat;
    background-size: contain;
    width: calc(80/1440*100vw);
    height: calc(80/1440*100vw);
    //家より後ろにするため
    position:absolute;
    z-index:9;
    left:calc(80/1440*100vw);
    bottom:calc(90/1440*100vw);
}