@use '../../../scss/Foundation/mixin';

.p-article--quality-support{
    position:relative;
    margin-top:3rem;
    padding-bottom:3rem;
    @include mixin.mq(sp){
        margin-top:6rem;
    }
}