@use '../../../scss/Foundation/mixin';

.p-article__book-contents__wrapper{
    display: flex;
    flex-direction: column;
    position:relative;
    left:calc(140/1440*100vw);
    margin-top:calc(120/1440*100vw);
    //width:calc(100/1440*100vw);
    @include mixin.mq(tb){
        margin-top:calc(100/1023*100vw);
        left:calc(100/1023*100vw);
    }
    @include mixin.mq(sp){
        margin-top:calc(100/375*100vw);
        margin-left:calc(50/375*100vw);
    }
}