@use '../../../scss/Foundation/mixin';

.p-article__quality-support__safety{
    display: flex;
    flex-direction: column;
    @include mixin.mq(sp){
        margin-bottom:calc(50/1440*100vw);
    }
}