@use '../../Foundation/mixin';

.p-article--reason__img__right{
    background:url(../images/slider-house8.webp) no-repeat;
    background-size:cover;
    width:30%;
    @include mixin.mq(tb){
        width:100%;
        height: 48rem;
        background-position-y: -30rem;
    }
    @include mixin.mq(sp){
        height:calc(320/375*100vw);
    }
}