.p-article--work__full-order__heading3{
    font-size:4rem;
    font-family: tsukushioldmincho,ms mincho,ヒラギノ明朝 pro w3,hiragino mincho pro,serif;
    color:rgb(51,51,51);
    font-weight: 600;
    line-height: 1;
    letter-spacing: .4rem;
}