@use '../../../scss/Foundation/mixin';

.p-article__about-us__section{
    //flexboxの幅を均等にするための記述
    flex:2;
    @include mixin.mq(tb){
        position: relative;
        height: calc(500/1023*100vw);
    }
}