.p-article--gallery__rainbow{
    background: url(../images/gallery__rainbow.png) no-repeat;
    width:18rem;
    height:18rem;
    background-size:contain;
    position:absolute;
    right:10%;
    top:10%;
    transform: rotate(10deg);
}