@use '../../../scss/Foundation/mixin';

.p-article--book-contents__box{
    margin-bottom: 3.5rem;
    width:calc(400/1440*100vw);
    position: relative;
    display: flex;
    @include mixin.mq(tb){
        margin-bottom:calc(40/1023*100vw);
    }
    @include mixin.mq(sp){
        margin-bottom:1.4rem;
        flex-direction: column;
        width:calc(230/375*100vw);
    }
}