@use '../../../scss/Foundation/mixin';

.p-article__gallery__house__background{
    background:url(../images/gallery__background-grass.png) no-repeat;
    background-size:152%;
    background-position-y:100%;
    position:relative;
    height:40rem;
    @include mixin.mq(tb){
        height:calc(350/1023*100vw);
    }
    @include mixin.mq(sp){
        height:calc(150/375*100vw);
        margin-top:calc(40/375*100vw);
        background-size:220%;
    }
}