@use '../../../scss/Foundation/mixin';

.p-article--quality-support__amenity__img{
    background: url(../images/amenity.jpg) no-repeat;
    background-size: cover;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    position: relative;
    //bottom:40%;
    //right:-150%;
    z-index:10;
    transition: .4s ease-in-out;
    @include mixin.mq(tb){
        width:calc(200/1023*100vw);
        height:calc(200/1023*100vw);
    }
    @include mixin.mq(sp){
        width:calc(200/375*100vw);
        height:calc(200/375*100vw);
    }
    &:hover{
        opacity: 0;
    }
}