@use '../../Foundation/mixin';

.p-article--about-us__profile{
    position:relative;
    background:url(../images/pick-up--background.png) no-repeat;
    background-size: cover;
    padding-top:5rem;
    @include mixin.mq(tb){
        background:url(../images/background-pink.png);
        padding:0;
    }
}