@use '../../../scss/Foundation/mixin';

.p-article--work__full-order__text__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50%;
    text-align: left;
    position: relative;
    left:10%;
    @include mixin.mq(sp){
        left:0;
        margin-left:1rem;
    }
}