.p-article--about-us__img__right-flag{
    background: url(../images/right-flag.png) no-repeat;
    background-size: contain;
    min-width: 11rem;
    min-height: 11rem;
    position:absolute;
    right:8%;
    top:17%;
    transform: rotateZ(25deg);
}