@use '../../../scss/Foundation/mixin';

.p-article--book__heading2{
    font-size:2.8rem;
    font-weight: 800;
    writing-mode: vertical-rl;
    font-family:tsukushioldmincho,ms mincho,ヒラギノ明朝 pro w3,hiragino mincho pro,serif;
    color:#D61043;
    position:relative;
    left:calc(400/1440*100vw);
    top:calc(120/1440*100vw);
    @include mixin.mq(tb){
        left:calc(400/1023*100vw);
        top:calc(200/1440*100vw);
    }
    @include mixin.mq(sp){
        left:calc(102/375*100vw);
        writing-mode: horizontal-tb;
        width:calc(220/375*100vw);
        top:calc(0/375*100vw);
    }
}