@use '../../Foundation/mixin';

.p-article--reason__img__left{
    background:url(../images/mother_tb.jpg) no-repeat;
    background-size:cover;
    width:30%;
    @include mixin.mq(tb){
        width: 100%;
        height: 48rem;
        background-size: cover;
    }
}