@use '../../Foundation/mixin';

.p-article--commitment__middle__contents__text{
    font-family:'tsukushimarugothic', sans-serif,'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ;
    color:rgb(85,85,85);
    font-size:calc(24/1440*100vw);
    line-height: 1.8;
    font-weight: 600;
    width: 60%;
    margin:0 auto;
    @include mixin.mq(tb){
        width:52%;
        font-size:calc(20/1023*100vw);
        line-height: 1.8;
        letter-spacing: .2rem;
        font-weight: normal;
        position:absolute;
        bottom:0%;
        left:26%;
    }
    @include mixin.mq(sp){
        font-size:calc(18/375*100vw);
    }
}