@use '../../../scss/Foundation/mixin';

.p-article__book-contents__border{
    border-bottom: solid .1rem;
    width: 100%;
    margin: 0 calc(5/1440*100vw);
    @include mixin.mq(sp){
        display: none;
    }
}