@use '../../Foundation/mixin';

.p-article__philosophy__book-cover__text{
    font-size: calc(40/1440*100vw);
    font-family:'tsukushimarugothic', sans-serif,'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ;
    color:#F7004E;;
    writing-mode: vertical-rl;
    padding:calc(30/1440*100vw) calc(20/1440*100vw);
    position:relative;
    right: calc(10/1440*100vw);
    top:calc(10/1440*100vw);
    @include mixin.mq(tb){
        display: none;
    }
}