@use '../../../scss/Foundation/mixin';

.p-article__about-us__gif__left-cat{
    background: url(../images/left-cat.gif) no-repeat;
    background-size:contain;
    width: calc(110/1440*100vw);
    height: calc(110/1440*100vw);
    position: absolute;
    bottom: calc(-90/1440*100vw);
    left: calc(60/1440*100vw);
    @include mixin.mq(tb){
        width:calc(130/1023*100vw);
        height:calc(130/1023*100vw);
        bottom:calc(-250/1023*100vw);
        left:calc(60/1023*100vw);
    }
}