.p-article__about-us__img__blue-cloud{
    background:url(../images/blue-cloud.png) no-repeat;
    background-size:contain;
    height:calc(60/1440*100vw);
    width:calc(60/1440*100vw);
    position:absolute;
    right:5%;
    top:8%;
}