@use '../../Foundation/mixin';

.p-article--commitment__bottom__link{
    font-family: 'tsukushimarugothic', sans-serif,'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ;
    color:rgb(85,85,85);
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: rgb(85,85,85) solid .2rem;
    padding-right: 4rem;
    position: relative;
    width: 47%;
    @include mixin.mq(tb){
        font-size:1.5rem;
    }
     &::before{
        content:"";
        width:3rem;
        height: .2rem;
        background-color: rgb(85,85,85);
        position:absolute;
        right:0%;
        bottom:30%;
        transform: rotate(30deg);
        @include mixin.mq(tb){
            bottom:24%;
        }
    }
}