@use '../../Foundation/mixin';

.p-article--philosophy__wrapper{
    display: flex;
    width:67%;
    margin:0 auto;
    @include mixin.mq(tb){
        width:100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}