.p-article--about-us__img__right-red-tree{
    background:url(../images/red-tree.png) no-repeat;
    background-size: contain;
    min-width: 6.8rem;
    min-height: 6.8rem;
    position:absolute;
    z-index:9;
    top:66%;
    right:6%;
}