@use '../../Foundation/mixin';

.p-article--about-us__chandelier{
    background:url(../images/chandelier.png) no-repeat;
    background-size:contain;
    width: 15rem;
    height: 20rem;
    position: absolute;
    right:1%;
    top:2%;
    @include mixin.mq(tb){
        display: none;
    }
}