@use '../../../scss/Foundation/mixin';

.p-article--book-contents__wrapper{
    display: flex;
    flex-direction: column;
    position:relative;
    left:calc(140/1440*100vw);
    margin-top:calc(120/1440*100vw);
    //width:calc(100/1440*100vw);
    @include mixin.mq(sp){
        margin-top:8rem;
        margin-left:5rem;
    }
}