@use '../../Foundation/mixin';

.p-article__commitment__middle-contents__text{
    font-family:'tsukushimarugothic', sans-serif,'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ;
    color:rgb(85,85,85);
    font-size:calc(24/1440*100vw);
    //line-height: 1.8;
    font-weight: 600;
    //width: 60%;
    margin:0 auto;
    @include mixin.mq(tb){
        width:calc(480/1023*100vw);
        font-size:calc(20/1023*100vw);
        //line-height: 1.8;
        letter-spacing: .2rem;
        font-weight: normal;
        //position:absolute;
        //bottom:0%;
        //left:26%;
    }
    @include mixin.mq(sp){
        width:calc(280/375*100vw);
        font-size:calc(16/375*100vw);
    }
}