.p-article--philosophy__text__list__item{
    //margin:0 auto 2rem;
    font-family: 'tsukushimarugothic', sans-serif,'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ;
    color:rgb(138,101,62);
    font-size:1.2rem;
    //font-weight: 600;
    line-height: 2;
}