@use '../../Foundation/mixin';

.p-article--philosophy__book-cover__text__tb{
    display: none;
    @include mixin.mq(tb){
        font-size: 2rem;
        font-family:'tsukushimarugothic', sans-serif,'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ;
        color:#F7004E;
        display: block;
        text-align: center;
        margin-bottom:2rem;
    }
}