@use '../../../scss/Foundation/mixin';

.p-article--book__foot-prints__left{
    width: calc(150/1440*100vw);
    height: calc(450/1440*100vw);    
    order:0;
    position:relative;
    //left:14%;
    //bottom:30%;
    background: url(../images/foot-prints.png) no-repeat;
    background-size:contain;
    transform: rotate(90deg);
    z-index: 1;
    @include mixin.mq(tb){
        display: none;
    }
}
#foot-prints-left{
    transform: rotate(90deg);
}