.p-article--about-us__img__green-cloud{
    background:url(../images/green-cloud.png) no-repeat;
    background-size: contain;
    min-width:6rem;
    min-height: 6rem;
    position: absolute;
    top:13%;
    left:2%;
}