.p-article--gallery__red-cloud{
    background: url(../images/red-cloud.png) no-repeat;
    width:8rem;
    height:8rem;
    background-size: contain;
    position: absolute;
    left: 5%;
    top:10%;
}