@use '../../../scss/Foundation/mixin';
.p-article--quality-support__cat{
    background: url(../images/quality-support__cat.png) no-repeat;
    width:calc(130/1440*100vw);
    height:calc(130/1440*100vw);;
    background-size: contain;
    position:absolute;
    top:0%;
    left:calc(250/1440*100vw);
    @include mixin.mq(tb){
        top:8%;
        left:calc(50/1023*100vw);
    }
    @include mixin.mq(sp){
        left:0;
        top:8%;
        width:calc(100/375*100vw);
        height:calc(100/375*100vw);
    }
}