@use '../../Foundation/mixin';

.p-article--commitment__low__left__img{
    object-fit: contain;
    transform: rotate(-5deg);
    width:45%;
    @include mixin.mq(tb){
        width:calc(280/1023*100vw);
        position: absolute;
        top:calc(800/1023*100vw);
        left:2%;
    }
    @include mixin.mq(sp){
        width:40%;
        top:calc(80/375*100vw);        
    }
}