@use '../../../scss/Foundation/mixin';

.p-article__about-us__gif__right-cat{
    background: url(../images/right-cat.gif) no-repeat;
    background-size:contain;
    width: calc(100/1440*100vw);
    height: calc(100/1440*100vw);
    position: absolute;
    bottom: calc(-90/1440*100vw);
    right: calc(60/1440*100vw); 
    z-index: 10;
    @include mixin.mq(tb){
        width:calc(130/1023*100vw);
        height:calc(130/1023*100vw);
        bottom:calc(-260/1023*100vw);
        right:calc(50/1023*100vw);
    }
}