@use '../../../scss/Foundation/mixin';

.p-article__about-us__img__left-flag{
    background: url(../images/left-flag.png) no-repeat;
    background-size: contain;
    width: calc(150/1440*100vw);
    height: calc(150/1440*100vw);
    position:absolute;
    left:calc(40/1440*100vw);
    top:calc(130/1440*100vw);
    transform: rotateZ(-25deg);
    @include mixin.mq(tb){
        top:calc(150/1023*100vw);
    }
}