@use '../../Foundation/mixin';

.p-article--commitment__bottom__right__img{
    width: 28%;
    transform: rotate(-6deg);
    object-fit: contain;
    position: relative;
    right:10%;
    @include mixin.mq(tb){
        width: 35%;
        position: absolute;
        right:6%;
        top:39%;
        transform: rotate(-4deg);
    }
}