@use '../../../scss/Foundation/mixin';

.p-article--gallery__text{
    text-align: center;
    color:rgb(85,85,85);
    font-family: tsukushigothic,ms gothic,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,osaka,sans-serif;
    font-size: 1.3rem;
    margin-top:8rem;
    font-weight: 600;
    @include mixin.mq(sp){
        margin-top:12rem;
    }
}