@use '../../Foundation/mixin';

.p-article--philosophy__book-cover__left{
    background: url(../images/book-cover-left.png) no-repeat;
    background-size:cover;
    position:relative;
    top:4rem;
    height:60rem;
    margin-left:4rem;
    @include mixin.mq(tb){
        background: none;
        height: 0;
    }
}