@use '../../Foundation/mixin';

.p-article--commitment__bottom__right__container{
    width:34%;
    position: relative;
    margin-top:6rem;
    @include mixin.mq(tb){
        width: 100%;
        position: absolute;
        top:58%;
        left:0;
        margin:0;
    }
}