@use '../../Foundation/mixin';

.p-article__charm__heading2{
    font-family:'メイリオ',meiryo,'ヒラギノ角ゴ pro w3','hiragino kaku gothic pro',sans-serif;
    color:rgb(116,52,52);
    font-size:calc(60/1440*100vw);
    //font-weight: 600;
    @include mixin.mq(tb){
        font-size:calc(40/1023*100vw);
        margin-top:calc(80/1023*100vw)
    }
    @include mixin.mq(sp){
        font-size:calc(24/375*100vw);
        margin-top:calc(40/375*100vw);
    }
}