@use '../../../scss/Foundation/mixin';
@use '../../Foundation/extend';

.p-article--gallery__modern{
    @extend %p-article--gallery__country;
    width:28%;
    margin-left:4rem;
    @include mixin.mq(sp){
        margin-left:1rem;
        width: 7.5rem;
    }
}