@use '../../Foundation/mixin';

.p-article__bottom-contents__text__container{
    width:calc(500/1440*100vw);
    position: relative;
    top:calc(50/1440*100vw);
    @include mixin.mq(tb){
        width: 100%;
        //position: absolute;
        top:calc(200/1023*100vw);
        left:0;
        margin:0;
    }
    @include mixin.mq(sp){
        top:calc(400/375*100vw);
    }
}