.p-article--line-up__heading3{
    font-family:'メイリオ',meiryo,'ヒラギノ角ゴ pro w3','hiragino kaku gothic pro',sans-serif;
    font-size: 2.3rem;
    font-weight: 800;
    color:rgb(116,52,52);
    font-family: tsukushioldmincho,ms mincho,ヒラギノ明朝 pro w3,hiragino mincho pro,serif;
}