@use '../../../scss/Foundation/mixin';

.p-article__quality-support__heading3{
    font-size: calc(24/1440*100vw);
    font-family: tsukushioldmincho,ms mincho,ヒラギノ明朝 pro w3,hiragino mincho pro,serif;
    color:rgb(116,52,52);
    font-size:calc(24/1440*100vw);
    font-weight:600;
    text-align: center;
    @include mixin.mq(tb){
        font-size:calc(24/1023*100vw);
    }
    @include mixin.mq(sp){
        font-size:calc(20/375*100vw);
        margin-bottom: calc(40/375*100vw);
    }
}