@use '../../Foundation/mixin';

.p-article--commitment__middle__left__img{
    width: 25%;
    object-fit: cover;
    position:relative;
    z-index: -10;
    @include mixin.mq(tb){
        position: absolute;
        left:0;
        bottom:calc(-170/1023*100vw);
        width: 40%;
    }
    @include mixin.mq(sp){
        right: 70%;
        bottom:10%;
        width: 40%;
    }
}