@use '../../Foundation/mixin';

.p-article--philosophy__book-cover__right{
    background: url(../images/book-cover-left.png) no-repeat;
    background-size:cover;
    height:60rem;
    width: 100%;
    transform:rotate(180deg);
    position: absolute;
    top:2.095px;
    right:4.2%;
    @include mixin.mq(tb){
        background: none;
    }
}