@use '../../Foundation/mixin';

.p-article__feature__left-cat{
    background:url(../images/left-cat-mono.png) no-repeat;
    background-size:contain;
    width:calc(220/1440*100vw);
    height:calc(220/1440*100vw);
    position:absolute;
    top:calc(120/1440*100vw);
    left:calc(20/1440*100vw);
    visibility: hidden;
    transition: 2.5s;
    @include mixin.mq(tb){
        display: none;
    }
}
.p-article__feature__left-cat.inview-js{
    visibility: visible;
}