.p-article--gallery__background-wave{
    background: url(../images/background-wave.png) no-repeat;
    height: 5rem;
    width: 100%;
    background-size: cover;
    position:absolute;
    top:-7%;
}