@use '../../Foundation/mixin';

.p-article__charm__cat-sakuramochiko{
    background:url(../images/cat-sakuramochiko.png) no-repeat;
    background-size:contain;
    width:calc(120/1440*100vw);
    height: calc(150/1440*100vw);
    position: absolute;
    bottom:calc(30/1440*100vw);
    left:0%;
    transition: .5s;
    @include mixin.mq(tb){
        display: none;
    }
}

.p-article__charm__cat-sakuramochiko.inview-js{
    margin-left:calc(20/1440*100vw);
}