/*
.p-article--about-us__mirror__inner{
    position: absolute;
    right: 0;
    width: 0;
    height: 100%;
    background:#fff;
    transition: 2s cubic-bezier(.26,0,.07,1);
}
.p-article--about-us__mirror__inner.inview-js{
    width:17rem;
    height: 19rem;
}
*/