@use '../../Foundation/mixin';

.p-article--feature__contents2__heading__text{
    font-size:1.7rem;
    font-family: 'メイリオ',meiryo,'ヒラギノ角ゴ pro w3','hiragino kaku gothic pro',sans-serif;
    color:#D9115A;
    margin:2rem 0;
    font-weight: 600;
    @include mixin.mq(tb){
        font-size:3rem;
        text-align: center;
    }
}