@use '../../Foundation/mixin';

.p-article--commitment__bottom__left__img{
    object-fit: contain;
    width: 38%;
    position: relative;
    right:5%;
    z-index:-10;
    @include mixin.mq(tb){
        width:calc(400/1023*100vw);
        position:absolute;
        top:calc(30/1023*100vw);
        right:0;
        left:0;
        object-fit: cover;
    }
    @include mixin.mq(sp){
        top:28%;
        top:calc(200/375*100vw);
    }
}