.p-article--quality-support__durability__figcaption{
    width:50%;
    margin:0 auto;
    text-align: center;
    margin-top:3rem;
    font-family: tsukushigothic,ms gothic,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,osaka,sans-serif;
    font-size:1.3rem;
    font-weight: 600;
    color:#fffffe;
    background-color:rgb(71,124,106);
    padding:0 1.5rem;
}