@use '../../../scss/Foundation/mixin';

.p-article__new-release__cat__right{
    background:url(../images/right-cat.gif) no-repeat;
    width:calc(320/1440*100vw);
    height:calc(320/1440*100vw);
    position: absolute;
    bottom: 0%;
    background-size: contain;
    left:calc(1100/1440*100vw);
    @include mixin.mq(sp){
        width:calc(150/375*100vw);
        height: calc(150/375*100vw);
        left:calc(240/375*100vw);
    }
    @include mixin.mq(tb){
        width:calc(300/1023*100vw);
        height:calc(300/1023*100vw);
        left:calc(700/1023*100vw);
    }
}