@use '../../../scss/Foundation/mixin';

.p-article--book__heading-page__character{
    background:url(../images/book-cat.png) no-repeat;
    max-width:9rem;
    min-width:9rem;
    max-height:9rem;
    min-height: 9rem;
    background-size: contain;
    position:absolute;
    top:78%;
    left:280%;
    @include mixin.mq(sp){
        display: none;
    }
}