@use '../../../scss/Foundation/mixin';

.p-article--gallery__purple-cloud{
    background: url(../images/purple-cloud.png) no-repeat;
    width:8rem;
    height:8rem;
    background-size: contain;
    position: absolute;
    left: -2%;
    top:28%;
    @include mixin.mq(sp){
        top:calc(50/375*100vw);
        left:calc(20/1023*100vw);   
    }
    @include mixin.mq(sp){
        top:calc(50/375*100vw);   
    }
}