@use '../../Foundation/mixin';

.p-article--commitment__top__treatment{
    background: url(../images/commitment-top-treatment.png) no-repeat;
    background-size: contain;
    width: 18rem;
    height: 4rem;
    margin:0 auto;
    @include mixin.mq(tb){
        width:22rem;
        height:6rem;
        position: relative;
        right: 11%;
    }
    @include mixin.mq(sp){
        right:calc(70/375*100vw);
        top:calc(-30/375*100vw);
    }
}