@use '../../../scss/Foundation/mixin';

.p-article__line-up__text{
    font-family:tsukushioldmincho,ms mincho,ヒラギノ明朝 pro w3,hiragino mincho pro,serif;
    font-weight: 600;
    font-size:calc(16/1440*100vw);
    @include mixin.mq(tb){
        font-size:calc(16/1023*100vw);
    }
    @include mixin.mq(sp){
        font-size:max(calc(14/375*100vw),14px);
        font-weight: 500;
    }
    &:last-child{
        margin-bottom:calc(32/375*100vw);
    }
}