.p-article--quality-support__heading2{
    font-family: tsukushioldmincho,ms mincho,ヒラギノ明朝 pro w3,hiragino mincho pro,serif;
    color:rgb(116,52,52);
    font-size:5.5rem;
    font-weight:600;
    text-align: center;
    letter-spacing: .4rem;
}