@use '../../../scss/Foundation/mixin';

.p-article--work__renovation__wrapper{
    display:flex;
    position:relative;
    margin-top:5rem;
    @include mixin.mq(sp){
        flex-direction: column;
    }
}