@use '../../Foundation/mixin';

.p-article__commitment__low-contents__text{
    text-align: center;
    font-family: 'tsukushimarugothic', sans-serif,'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ;
    color:rgb(85,85,85);
    font-size:calc(24/1440*100vw);
    margin:calc(60/1440*100vw) 0 calc(110/1440*100vw) calc(90/1440*100vw);
    //line-height: 1.9;
    width:calc(500/1440*100vw);
    @include mixin.mq(tb){
        position:relative;
        top:calc(200/1023*100vw);
        //left:20%;
        width:calc(480/1023*100vw);
        font-size:calc(20/1023*100vw);
        //line-height: 1.8;
        margin:0 auto;
        letter-spacing: .2rem;
        //text-align: left;
    }
    @include mixin.mq(sp){
        width:calc(280/375*100vw);
        font-size:calc(18/375*100vw);
        margin-top:calc(50/375*100vw);
        margin-bottom:0;
        //left:calc(120/375*100vw);
    }
}