@use '../../Foundation/mixin';

.p-article__feature__contents__heading2{
    font-family:'メイリオ',meiryo,'ヒラギノ角ゴ pro w3','hiragino kaku gothic pro',sans-serif;
    color:rgb(116,52,52);
    font-size:calc(60/1440*100vw);
    padding-top:calc(150/1440*100vw);
    text-align: center;
    position:relative;
    @include mixin.mq(tb){
        font-size:calc(40/1023*100vw);
        padding-top:calc(120/1023*100vw);
    }
    @include mixin.mq(sp){
        font-size:calc(24/375*100vw);
        padding-top:calc(80/375*100vw);
    }
    &::after{
        display: block;
        content: "";
        width:3rem;
        height: .1rem;
        background-color:rgb(116,52,52);
        position: absolute;
        border: solid .1px;
        left:calc(50% - 1.5rem);
    }
}