@use '../../../scss/Foundation/mixin';

.p-article__book-contents__arrow{
    background:#D61043;
    width:calc(16/1440*100vw);
    height:calc(16/1440*100vw);
    position:absolute;
    border-radius: 80%;
    left:calc(-15/1440*100vw);
    top:calc(3/1440*100vw);
    position: absolute;
    transform: rotate(45deg);
    @include mixin.mq(sp){
        display: none;
    }
    &::after{
        content:'';
        width:calc(8/1440*100vw);
        height:calc(8/1440*100vw);
        border: 0px;
        border-top: solid .1rem #fff;
        border-right: solid .1rem #fff;
        transition-duration: 0.3s;
        position:absolute;
        top:calc(4/1440*100vw);
        left:calc(3/1440*100vw);
    }
    &:hover::after{
        transform: scale(1.2);
        transition-duration: 0.3s;
    }
}