@use '../../Foundation/mixin';

.p-article__commitment__bottom-contents__wrapper{
    display: flex;
    @include mixin.mq(tb){
        flex-direction: column;
        height:calc(600/1023*100vw);
    }
}