@use '../../Foundation/mixin';

.p-article__reason__text{
    font-family:'tsukushimarugothic', sans-serif,'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ;
    color:rgb(85,85,85);
    font-size:calc(16/1440*100vw);
    @include mixin.mq(tb){
        width:calc(900/1023*100vw);
        margin:0 auto;
        font-size:calc(16/1023*100vw);
        letter-spacing: .2rem;
    }
    @include mixin.mq(sp){
        font-size:calc(14/375*100vw);
    }
}