@use '../../../scss/Foundation/mixin';

.p-article--new-release__flag__right{
    background:url(../images/new-release__flag.png) no-repeat;
    background-size: contain;
    width:25rem;
    height:20rem;
    position:absolute;
    right: calc(40/1440*100vw);
    top:7%;
    transform:rotate(25deg);
    @include mixin.mq(sp){
        z-index:0;
        width:13rem;
        height:7rem;
        left:62%;
        top:4%;
    }
}