.p-article--about-us__gif__center-cat{
    background: url(../images/center-cat.png) no-repeat;
    background-size:contain;
    width: 11rem;
    height: 4rem;
    position: absolute;
    bottom: -10%;
    left: 36%;
}