@use '../../../scss/Foundation/mixin';

.p-article__line-up__figure{
    margin-left:calc(16/1440*100vw);
    overflow: hidden;
    width:calc(280/1440*100vw);
    height:calc(200/1440*100vw);
    @include mixin.mq(sp){
        width:calc(262/375*100vw);
        margin-left:calc(40/375*100vw);
    }
}