@use '../../Foundation/mixin';

.p-aside--access-map__img__wrapper{
    display:flex;
    margin:0 auto;
    justify-content: center;
    @include mixin.mq(tb){
        flex-direction: column;
        width:83%;
        margin:0 auto;
    }
}