@use '../../../scss/Foundation/mixin';

.p-article--book-contents__box{
    margin-bottom: 3.5rem;
    width:33rem;
    position: relative;
    display: flex;
    @include mixin.mq(sp){
        margin-bottom:1.4rem;
        flex-direction: column;
    }
}