@use '../../../scss/Foundation/mixin';

.p-article--quality-support__figure__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 auto;
    width:80%;
    max-width: 100rem;
    height: 100%;
    margin-top:3rem;
    @include mixin.mq(sp){
        flex-direction: column;
    }
    @include mixin.mq(tb){
        width:calc(950/1023*100vw);
    }
}