.p-article--about-us__img__balloon__top{
    background: url(../images/balloon__top.png) no-repeat;
    background-size: contain;
    min-width: 6rem;
    min-height: 6rem;
    position:absolute;
    left:27%;
    top:15%;
}