.p-article--gallery__orther__img{
    height: 24rem;
    background: url("../images/gallery__orthers.png") no-repeat;
    background-size: 120%;
    height: 100%;
    margin-left: 4rem;
    background-position-x: 60%;
    background-position-y: 30%;
}