@use '../../../scss/Foundation/mixin';

.p-article--new-release__cat__left{
    background:url(../images/left-cat.gif) no-repeat;
    width:30rem;
    height:30rem;
    position: absolute;
    bottom: 0%;
    background-size: contain;
    @include mixin.mq(sp){
        left:6%;
        bottom:10;
        width:15rem;
        height:15rem;
    }
    @include mixin.mq(tb){
        width:calc(300/1023*100vw);
        height:calc(300/1023*100vw);
    }
}