@use '../../Foundation/mixin';

.p-article--commitment__low__middle__note{
    background:url(../images/note.png) no-repeat;
    background-size:contain;
    width:5rem;
    height:5rem;
    position: absolute;
    left: 57%;
    top:14%;
    @include mixin.mq(tb){
        width:calc(40/1023*100vw);
        height:calc(40/1023*100vw);
        top:calc(1100/1023*100vw);
        left:calc(340/1023*100vw);
    }
    @include mixin.mq(sp){
        width:4rem;
        height:4rem;
        top:70%;
        left:32%;
    }
}