@use '../../Foundation/mixin';

.p-article__commitment__low-contents__child-photo{
    object-fit: contain;
    transform: rotate(-5deg);
    width:calc(450/1440*100vw);
    @include mixin.mq(tb){
        width:calc(280/1023*100vw);
        position: absolute;
        top:calc(800/1023*100vw);
        left:calc(30/1023*100vw);
    }
    @include mixin.mq(sp){
        width:calc(150/375*100vw);
        top:calc(180/375*100vw);
        left:calc(200/375*100vw);        
    }
}