@use '../../Foundation/mixin';

.p-article__feature__contents{
    position: relative;
    width:calc(900/1440*100vw);
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:0 auto;
    padding:0 2rem;
    @include mixin.mq(tb){
        width:calc(980/1023*100vw);
    }
}