@use '../../../scss/Foundation/mixin';
.p-article__quality-support__cat{
    background: url(../images/quality-support__cat.png) no-repeat;
    width:calc(130/1440*100vw);
    height:calc(130/1440*100vw);;
    background-size: contain;
    position:absolute;
    top:0%;
    left:calc(250/1440*100vw);
    @include mixin.mq(tb){
        top:calc(40/1023*100vw);
        left:calc(140/1023*100vw);
    }
    @include mixin.mq(sp){
        left:0;
        top:calc(20/375*100vw);
        width:calc(80/375*100vw);
        height:calc(80/375*100vw);
    }
}