@use '../../../scss/Foundation/mixin';

.p-article__gallery__orther__img{
    height: 24rem;
    background: url("../images/gallery__orthers.png") no-repeat;
    background-size: 120%;
    height: 100%;
    margin-left: 4rem;
    background-position-x: 60%;
    background-position-y: 30%;
    @include mixin.mq(sp){
        width:calc(60/375*100vw);
        height:calc(60/375*100vw);
        margin-top:calc(20/375*100vw);
        margin-left:0;
        background-size: 130%;
    }
}