@use '../../Foundation/mixin';

.p-article__bottom-contents__link{
    font-family: 'tsukushimarugothic', sans-serif,'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ;
    color:rgb(85,85,85);
    font-size: max(calc(16/1440*100vw),16px);
    font-weight: 600;
    border-bottom: rgb(85,85,85) solid .2rem;
    //padding-right: 4rem;
    position: relative;
    width: calc(300/1440*100vw);
    margin-bottom:calc(80/1440*100vw);
    @include mixin.mq(tb){
        font-size:max(calc(16/1023*100vw),16px);
        width:calc(450/1023*100vw);
    }
    @include mixin.mq(sp){
        font-size:max(calc(14/375*100vw),14px);
        width:calc(150/375*100vw)
    }
     &::before{
        content:"";
        width:calc(40/1440*100vw);
        height: .2rem;
        background-color: rgb(85,85,85);
        position:absolute;
        right:calc(-4/1440*100vw);
        bottom:calc(8/1440*100vw);
        transform: rotate(30deg);
        @include mixin.mq(tb){
            bottom:calc(7/1023*100vw);
            width: calc(40/1023*100vw);
        }
        @include mixin.mq(sp){
            bottom:calc(4/375*100vw);
            width:calc(20/375*100vw);
        }
    }
}