@use '../../../scss/Foundation/mixin';

.p-article--work__full-order__button{
    justify-content: center;
    align-items: center;
    width:30%;
    border-radius: 10rem;
    background: #333333;
    border: .1rem solid #333333;
    font-size: 1rem;
    font-weight:600;
    color:#fafafa;
    margin: 5.5rem auto 0;
    padding: .5rem .5rem;
    //letter-spacing: .4rem;
    display:block;
    position:relative;
    left:-34%;
    @include mixin.mq(tb){
        width:calc(250/1023*100vw);
        left:calc(-100/1023*100vw);
    }
    @include mixin.mq(sp){
        margin-top:2.5rem;
        left:0;
        width:calc(140/375*100vw);
    }
    &:before{
        content:'';
        position:absolute;
        right: 17.6%;
        top:50%;
        width: 3rem;
        height: .1rem;
        background: #fafafa; 
    }
    &:after{
        content:'';
        position:absolute;
        top:35%;
        right: 17.5%;
        content: '';
        width: 1rem;
        height: 1rem;
        border: 0px;
        border-top: solid .1rem #fafafa;
        border-right: solid .1rem #fafafa;
        transform: rotate(45deg);
    }
    &:hover{
        background: #fff;
        color:#333333;
        transition: .2s;
    }
    &:hover:before{
        background:#333333;
    }
    &:hover:after{
        border-top: solid .1rem #333333;
        border-right: solid .1rem #333333;
    }
}