@use '../../../scss/Foundation/mixin';

.p-article__about-us{
    display: flex;
    justify-content: center;
    padding-bottom: calc(140/1440*100vw);
    margin-bottom:calc(40/1440*100vw);
    @include mixin.mq(tb){
        flex-direction: column;
    }
}