@use '../../../scss/Foundation/mixin';

.p-article--gallery__natural__img{
    height:24rem;
    background: url("../images/gallery__natural.png") no-repeat;
    background-size: 120%;
    height: 100%;
    background-position-x: 50%;
    background-position-y: 30%;
    @include mixin.mq(sp){
        width: 7.5rem;
        height: 7.5rem;
    }
}