@use '../../../scss/Foundation/mixin';

.p-article--about-us__heading2{
    //flexboxを均等にするための記述
    writing-mode: vertical-rl;
    font-family: sukushioldmincho,ms mincho,ヒラギノ明朝 pro w3,hiragino mincho pro,serif;
    color: #D61043;
    font-size: 2.3rem;
    font-weight: 800;
    padding:3rem 3rem 0 3rem;
    @include mixin.mq(sp){
        writing-mode: horizontal-tb;
    }
}