@use '../../Foundation/mixin';

.p-article--company__translation{
    font-family: 'tsukushimarugothic', sans-serif,'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ;
    font-size:1.5rem;
    color:rgb(138,101,62);
    letter-spacing: .2rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 5rem;
    @include mixin.mq(tb){
        font-size:2rem;
    }
}