@use '../../Foundation/mixin';

.p-article--commitment__bottom__contents__wrapper{
    display: flex;
    @include mixin.mq(tb){
        flex-direction: column;
        height:140rem;
    }
    @include mixin.mq(sp){
        height:calc(1600/375*100vw);
    }
}