.p-article--gallery__cat{
    background: url(../images/gallery_cat.png) no-repeat;
    background-size: contain;
    width: 10rem;
    height: 10rem;
    position: absolute;
    right: 1%;
    bottom: 0%;
}