.p-background__move__img{ 
    background: url(../images/jam-home-exteriorr.jpg) no-repeat;
    background-size:100%;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}