@use '../../Foundation/mixin';

.p-background--move__text{
    font-size:calc(24/1440*100vw);
    color:#fff;
    @include mixin.mq(tb){
        width: 63%;
        margin:0 auto;
        font-size:calc(30/1023*100vw);
    }
    @include mixin.mq(sp){
        width: 63%;
        margin:0 auto;
        font-size:calc(20/375*100vw);
    }
}