.p-contact{
    background-image: url("../images/contact.png");
    background-size: contain;
    /*背景画像を繰り返さない*/
    background-repeat:no-repeat;
    width: calc(160/1440*100vw);
    height: calc(70/1440*100vw);
    &.is-open{
        display: none;
    }
}