.p-footer--copy{
    color: rgb(255,255,255);
    font-family: tsukushioldmincho,ms mincho,ヒラギノ明朝 pro w3,hiragino mincho pro,serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    padding-top:3rem;
    padding-bottom:3rem;
}