@use '../../Foundation/mixin';

.p-footer--company-profile__wrapper{
    display: flex;
    margin:0 auto;
    width:70%;
    align-items: center;
    justify-content: space-between;
    padding-top:3rem;
    @include mixin.mq(tb){
        width:50%;
    }
}