@use '../../Foundation/mixin';

.p-footer--company-profile__text{
    color: rgb(255,255,255);
    font-family: tsukushioldmincho,ms mincho,ヒラギノ明朝 pro w3,hiragino mincho pro,serif;
    font-size:1.2rem;
    font-weight: 600;
}