@use '../../../scss/Foundation/mixin';

.p-feature__picture3{
    width:calc(288/1440*100vw);
    height: 100%;
    object-fit: contain;
    position: relative;
    z-index: 2;
    transform: rotate(3deg);
    right:calc(50/1440*100vw);
    @include mixin.mq(tb){
        margin:0;
        width: calc(307/1023*100vw);
    }
}