@use '../../Foundation/mixin';

.p-feature--picture2{
    width:33%;
    height: 100%;
    object-fit: contain;
    position: relative;
    right:2%;
    z-index: 1;
    transform: rotate(1deg);
    margin-top:2rem;
    @include mixin.mq(tb){
        margin:0;
    }
}