@use '../../Foundation/mixin';

.p-footer--icon__wrapper{
    width:15%;
    display:flex;
    justify-content: space-between;
    margin:0 auto;
    padding-top:3rem;
    @include mixin.mq(sp){
        width:55%;
    }
    @include mixin.mq(tb){
        width:calc(200/1023*100vw);
    }
}