.p-footer__copy{
    color: rgb(255,255,255);
    font-family: tsukushioldmincho,ms mincho,ヒラギノ明朝 pro w3,hiragino mincho pro,serif;
    font-size: max(calc(14/1440*100vw),14px);
    font-weight: 600;
    text-align: center;
    padding-top:calc(40/1440*100vw);
    padding-bottom:calc(40/1440*100vw);
}