@use '../../Foundation/mixin';

.p-feature__picture__wrapper{
    display: flex;
    position:relative;
    left:calc(25/1440*100vw);
    margin-bottom:calc(80/1440*100vw);
    @include mixin.mq(tb){
        order:0;
        margin-bottom:calc(80/1023*100vw);
    }
    @include mixin.mq(sp){
        margin-bottom:calc(80/375*100vw);
    }
}