.p-file-pass__link{
    margin-left:calc(90/1440*100vw);
    font-size:max(calc(14/1440*100vw),14px);
    margin-right:calc(5/1440*100vw);
    font-family: 'メイリオ',meiryo,'ヒラギノ角ゴ pro w3','hiragino kaku gothic pro',sans-serif;
}