@use '../../Foundation/mixin';

.p-footer--link__text{
    color: rgb(255,255,255);
    font-family: tsukushioldmincho,ms mincho,ヒラギノ明朝 pro w3,hiragino mincho pro,serif;
    font-weight: 700;
    font-size: 1.8rem;
    @include mixin.mq(tb){
        font-size:2.2rem;
    }
}