@use '../../../scss/Foundation/mixin';

.p-footer__icon--twitter{
    background:url(../images/twitter.webp) no-repeat;
    background-size: contain;
    width:calc(40/1440*100vw);
    height:calc(40/1440*100vw);
    @include mixin.mq(tb){
    width:calc(40/1023*100vw);
    height:calc(40/1023*100vw);
    }
    @include mixin.mq(sp){
    width:calc(40/375*100vw);
    height:calc(40/375*100vw);
    }
}