@use '../../../scss/Foundation/mixin';

.p-header__icon--facebook{
    background:url(../images/facebook-header.webp) no-repeat;
    background-size: cover;
    width:max(calc(25/1440*100vw),25px);
    height:max(calc(25/1440*100vw),25px);
}