@use '../../Foundation/mixin';

.p-header__link{
    display: block;
    @include mixin.mq(tb){
        display: flex;
        align-items: center;
        height:8rem;
    }
    &.is-open{
        flex-direction: column;
        height:100vh;
        margin:0;
    }
}