@use '../../Foundation/mixin';

.p-main--article__top__cat__left{
    background: url(../images/left-cat-mono.png) no-repeat;
    background-size:contain;
    width:25rem;
    height: 25rem;
    position: absolute;
    bottom:25%;
    left:5%;
    transform: rotate(-5deg);
    @include mixin.mq(tb){
        width:13rem;
        height: 13rem;
        bottom:3%;
        left:21%;
    }
}