@use '../../Foundation/mixin';

.p-main--article__top__bow-tie{
    background: url(../images/bow-tie.png) no-repeat;
    background-size:contain;
    width:8rem;
    height: 8rem;
    position: absolute;
    bottom: 62%;
    left:27%;
    transform: rotate(-10deg);
    @include mixin.mq(tb){
        width: 7rem;
        height: 7rem;
        left:24%;
        bottom:70%;
    }
    @include mixin.mq(sp){
        left:10%;
    }
}