.p-main__slider__items__wrapper{
    position:absolute;
    //画像より下にする
    //z-index:0;
    bottom:10%;
    left:calc(300/1440*100vw);
    display:none;
}

.p-main__slider__items__wrapper.is-block{
    display:block;
}