.p-main--article__top__garland{
    background: url(../images/Garland.webp) no-repeat;
    background-size:contain;
    width: 60rem;
    height:20rem;
    position: absolute;
    bottom:68%;
    left:25%;
}