.p-main__article__top__text__bottom{
    text-align: center;
    font-size:max(calc(16/1440*100vw),16px);
    font-family:'メイリオ',meiryo,'ヒラギノ角ゴ pro w3','hiragino kaku gothic pro',sans-serif;
    line-height: 2;
    letter-spacing: .2rem;
}