@use '../../../scss/Foundation/mixin';

.p-movie__wrapper{
    position:relative;
    //headerナビゲーションの高さ
    top:80px;
    z-index: 0;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    @include mixin.mq(tb){
        margin-bottom:calc(120/1023*100vw);
    }
    @include mixin.mq(sp){
        margin-bottom:calc(80/375*100vw);
    }
}