@use '../../Foundation/mixin';

.p-main--article__top__cat__bottom{
    background: url(../images/cat-over.png) no-repeat;
    background-size:contain;
    width:15rem;
    height: 15rem;
    position: absolute;
    bottom:-5%;
    left:17%;
    z-index:1;
    @include mixin.mq(tb){
        display: none;
    }
}