@use '../../Foundation/mixin';

.p-main--article__top__flag__right{
    background: url(../images/left-flag.png) no-repeat;
    background-size:contain;
    width:30rem;
    height: 20rem;
    position: absolute;
    bottom:61%;
    right:3%;
    transform: rotate(20deg);
    @include mixin.mq(tb){
        width:25rem;
        height:18rem;
        bottom:64%;
        right:5%;
    }
    @include mixin.mq(sp){
        width:14rem;
        height:7rem;
        bottom:85%;
    }
}