@use '../../Foundation/mixin';

.p-main--file-pass{
    display: flex;
    background-color: rgb(255,241,235);
    padding:.5rem 0;
    @include mixin.mq(tb){
        display: none;
        overflow: hidden;
    }
}