@use '../../../scss/Foundation/mixin';

.p-movie--wrapper__contents{
    display:flex;
    flex-direction: column;
    position:absolute;
    top: 20%;
    align-items: center;
    width: 100%;
    @include mixin.mq(sp){
        top:5%;
    }
}