@use '../../Foundation/mixin';

.p-nav__custom-home{
    //ハンバーガーメニューの項目のあしらい
    @include mixin.mq(tb){
        position: relative;
        display: block;
        > :first-child:before{
            content: '';
            position:absolute;
            width: .2rem;
            height:2rem;
            background-color: #000;
            left:calc(-8/1023*100vw);
            //margin-bottom:2%;
        }
        >:first-child:after{
            content: '';
            position:absolute;
            width: 2rem;
            height:.2rem;
            background-color: #000;
            left:calc(-20/1023*100vw);
            //margin-bottom:3%;
        }
    }
}