.p-section--about-us__treatment{
    background:url(../images/about-us-treatment.png) no-repeat;
    background-size:contain;
    width:13rem;
    height:5rem;
    padding:2rem 0;
    display: flex;
    justify-content: center;
    margin:2rem auto 0rem;
}