@use '../../Foundation/mixin';

.p-section--company-profile__table-data__number__item2{
    color:rgb(138,101,62);
    font-family: 'tsukushimarugothic', sans-serif,'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ;
    font-size:1.1rem;
    margin-left:.5rem;
    vertical-align: middle;
    line-height: 2;
    padding:.5rem 0;
    @include mixin.mq(tb){
        display: flex;
        flex-direction: column;
    }
}
