@use '../../Foundation/mixin';
@use '../../Foundation/extend';

.p-sub-menu__about {
    @extend %p-sub-menu__about;
}


.p-nav__about:hover .p-sub-menu__about{
    display: block;
    background-color: #fff;
    @include mixin.mq(tb){
        position: relative;
        width:auto;
    }
}
/*
.p-sub-menu__about.is-block{
}
*/
