.p-section--interview__center__treatment{
    background: url(../images/commitment-top-treatment.png) no-repeat;
    background-size: contain;
    width: 18rem;
    height: 4rem;
    margin:0 auto;
}