@use '../../Foundation/mixin';
@use '../../Foundation/extend';

.p-sub-menu__company-profile{
    @extend %p-sub-menu__about;
}

.p-nav__company-profile:hover .p-sub-menu__company-profile{
    display: block;
    background-color: #fff;
    @include mixin.mq(tb){
        position: relative;
        width:auto;
    }
}