.p-section__pick-up__icon{
    background:url(../images/pick-up2.png);
    width:100%;
    height:100%;
    position:absolute;
    background-repeat:no-repeat;
    top:calc(100/1440*100vw);
    right:2rem;
}