@use '../../../scss/Foundation/mixin';

.p-section__pick-up__read-more{
    color: #D61043;
    font-size: calc(24/1440*100vw);
    order:3;
    text-align: center;
    //position: absolute;
    //bottom: 1%;
    margin:calc(15/1440*100vw) auto 0;
    display: block;
    margin-top:auto;
    @include mixin.mq(tb){
        font-size:calc(32/1023*100vw);
        position:static;
        margin:calc(24/1023*100vw) auto;
    }
    @include mixin.mq(sp){
        font-size:calc(24/375*100vw);
        margin:calc(24/375*100vw) auto;
    }
}