.p-section--pick-up__heading3{
    font-size: 6rem;
    font-weight: 600;
    color:rgb(116,52,52);
    font-family: tsukushioldmincho,ms mincho,ヒラギノ明朝 pro w3,hiragino mincho pro,serif;
    padding-top: 5rem;
    letter-spacing: .4rem;
}