.p-section--about-us__heading2{
    font-family:'メイリオ',meiryo,'ヒラギノ角ゴ pro w3','hiragino kaku gothic pro',sans-serif;
    color:rgb(138,101,62);
    font-size:3.5rem;
    text-align: center;
    margin:.5rem 0;
    //font-weight: 600;
    line-height: .9;
}