@use '../../Foundation/mixin';

.p-section--about-us{
    padding-top:3rem;
    width:63%;
    max-width:65rem;
    margin:0 auto;
    background: url(../images/wood-frame.png) no-repeat;
    background-size: 100%;
    position:relative;
    padding-bottom:15rem;
    //height:105rem;
    @include mixin.mq(tb){
        background:none;
        width:100%;
        padding-bottom:8rem;
    }
}