.p-section--about-us__heading3{
    font-family: 'tsukushimarugothic', sans-serif,'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ;
    font-size:2.8rem;
    color:#D9115A;
    align-items: center;
    //font-weight: 600;
    text-align: center;
    margin:1rem 0 1rem;
    line-height: 1.5;
}