@use '../../Foundation/mixin';
@use '../../Foundation/extend';

.p-sub-menu__custom-home {
    @extend %p-sub-menu__about;    
}

.p-nav__custom-home:hover .p-sub-menu__custom-home{
    display: block;
    background-color: #fff;
    @include mixin.mq(tb){
        position: relative;
    }
}