@use '../../Foundation/mixin';

.p-section__company-profile__table-data--contents{
    color:rgb(138,101,62);
    font-family: 'tsukushimarugothic', sans-serif,'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ;
    font-size:max(calc(16/1440*100vw),16px);
    width: calc(900/1440*100vw);
    //margin-left:.5rem;
    //vertical-align: middle;
    //line-height: 2;
    //padding:.5rem 0;
    @include mixin.mq(tb){
        display: flex;
        flex-direction: column;
        width:calc(430/1023*100vw);
    }
    @include mixin.mq(sp){
        width:calc(220/375*100vw);
        font-size:max(calc(12/375*100vw),12px);
    }
}
