.p-section--interview__center__heading2{
    font-family:'メイリオ',meiryo,'ヒラギノ角ゴ pro w3','hiragino kaku gothic pro',sans-serif;
    font-size: 3.5rem;
    color:rgb(116,52,52);
    text-align: center;
    letter-spacing: .3rem;
    font-weight: 600;
}