@use '../../Foundation/mixin';

.p-section__company__translation{
    font-family: 'tsukushimarugothic', sans-serif,'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ;
    color:rgb(138,101,62);
    font-size:max(calc(16/1440*100vw),16px);
    letter-spacing: .2rem;
    text-align: center;
    font-weight: 600;
    margin-bottom:calc(40/1440*100vw);
    @include mixin.mq(tb){
        font-size:max(calc(16/1023*100vw),16px);
        margin-bottom:calc(20/1023*100vw);
    }
    @include mixin.mq(sp){
        font-size:max(calc(14/375*100vw),14px);
        margin-bottom:calc(20/375*100vw);
    }
}