@use '../../../scss/Foundation/mixin';

.p-section--pick-up__read-more{
    color: #D61043;
    font-size: 2rem;
    order:3;
    text-align: center;
    position: absolute;
    bottom: 1%;
    left: 30%;
    @include mixin.mq(tb){
        position:static;
        margin:0 auto;
    }
}