.p-section--interview__center__foreword{
    font-family: 'tsukushimarugothic', sans-serif,'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ;
    font-size:1.2rem;
    letter-spacing: .3rem;
    text-align: center;
    color:rgb(116,52,52);
    font-weight: 600;
    margin:1rem 0;
}