.p-top-head--button{
    border-radius: 10rem;
    background: #D61043;
    border: .1rem solid #D61043;
    font-size: 1rem;
    font-weight:600;
    color:#fafafa;
    order:3;
    margin-top: 1.5rem;
    padding: 1rem 4rem;
    letter-spacing: .4rem;
    
    &:hover{
        background: #fff;
        color:#D61043;
        transition: .2s;
    }
}