@use '../../../scss/Foundation/mixin';

.p-top-head--text{
    color: rgb(255,255,254);
    font-size: calc(18/1440*100vw);
    font-weight: 600;
    font-family:tsukushigothic,ms gothic,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,osaka,sans-serif;
    text-shadow:rgb(0 0 0 / 50%) -1px -1px 0px, rgb(0 0 0 / 50%) -1px 1px 0px, rgb(0 0 0 / 50%) 1px 1px 0px, rgb(0 0 0 / 50%) 1px -1px 0px;
    line-height: 1.7;
    @include mixin.mq(tb){
        font-size:calc(20/1023*100vw);
    }
    @include mixin.mq(sp){
        font-size:calc(14/375*100vw);
    }
}