@use '../../../scss/Foundation/mixin';

.p-top-head--heading3{
    margin-top: 2rem;
    font-size: 2.3rem;
    font-weight: 700;
    color:#D61043; 
    text-shadow:#ffffff -1px -1px 0px, #ffffff -1px 1px 0px, #ffffff 1px 1px 0px, #ffffff 1px -1px 0px;
    font-family: skip,ms gothic,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,osaka,sans-serif;
    @include mixin.mq(sp){
        margin-top:.5rem;
        font-size:1.8rem;
    }
}